<div class="header">
    <img
      class="logo-img"
      src="././assets/images/logo.svg"
      alt="Shortly"
    />
    <img
      class="menu-icon"
      src="././assets/images/hamburger.png"
      alt="expand menu"
      (click)="toggleNav()"
    />
    <nav class="nav nav-visiblity">
      <ul class="nav-list">
        <li class="nav-item">Features</li>
        <li class="nav-item">Pricing</li>
        <li class="nav-item">Resources</li>
      </ul>
      <div class="login-options">
        <span>Login</span>
        <button class="btn btn-pill">Sign Up</button>
      </div>
    </nav>
  </div>
