@import "../../stylings/variables";

.menu-icon {
    float: right;
}

.mobile-nav {
    width: 90%;
    margin: 0 auto;
    padding: 2.5em 0;
    border-radius: 10px;
    text-align: center;
    color: $text-color-lt;
    background: $bg-dk;
    line-height: 2.5em;
}