$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$light-violet: 	hsl(225, 33%, 95%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$white: #fff;

$heading-color-dk: $very-dark-blue;
$heading-color-lt: $white;
$text-color-dk: $grayish-violet;
$text-color-lt: $white;
$text-color-gy: $gray;
$nav-secondary: $grayish-violet;
$bg-dk: $dark-violet;
$bg-lt: $light-violet;
$bg-wt: $white;
$bg-footer: $very-dark-violet;
$accent-primary: $cyan;
$accent-secondary: $dark-violet;
$accent-gy: $grayish-violet;
$error: $red;

$default-font-size: 18px;
$default-font-family: 'Poppins', sans-serif;
$light: 300;
$normal: 500;
$heavy: 700;
$italic: italic;

$gutter-horizontal: 5%;
$gutter-vertical: 8%;

@mixin btn($br, $w) {
    display: block;
    margin: 0 auto;
    padding: .6em 1.5em;
    border: none;
    color: $text-color-lt;
    background: $accent-primary;
    font-size: inherit;
    font-weight: inherit;
    border-radius: $br;
    width: $w;
}
