@import "../stylings/variables";


// -- DEFAULT / MOBILE STYLES -- 
@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;
    .col-#{$i}-sm {
        width: 100% - ($gutter-horizontal * 2); 
        margin: 0 auto;
        display: flex;
        flex-flow: column;
    }
}

.container {
    max-width: 375px;
    margin: 0 auto;
}

.hero-img-container {
    width: 100% - $gutter-horizontal;
    overflow: hidden;
    padding: 0 0 0 $gutter-horizontal;
}

.hero-img {
    width: 130%;
}

.main-content {
    text-align: center;
    
    .title-dk {
        font-weight: $heavy;
        color: $heading-color-dk;
        margin: $default-font-size auto;
    }

    .text-content {
        color: $text-color-dk;
        line-height: 1.75em;
    }

    .btn-pill {
        @include btn(1.5em, 50%);
    }
    
}

.hero-description {
    margin-bottom: 4em;

    .title-dk {
        font-size: 2em;
        line-height: 1.25em;
    }
    
    .text-content {
        margin-bottom: 1em;
    }
}

.shorten-section {
    background: linear-gradient($bg-wt 4.5em, $bg-lt 4.5em);
    // ^ gray background starts ~halfway down section
}
.shorten-container {
    background-image: url("../assets/images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-color: $bg-dk;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    padding: 1.5em;
    margin: 0 $gutter-horizontal;

    %shorten-element {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        font-family: $default-font-family;
        padding-top: .5em;
        padding-bottom: .5em;
        
    }
    
    .url-input {
        @extend %shorten-element;
        margin-top: 0;
        margin-bottom: .1em;
        padding-left: 5%;
    }

    .btn-square {
        @extend %shorten-element;
        margin-top: 1em;
        margin-bottom: 0;
        color: $text-color-lt;
        background-color: $accent-primary;
    }

    .error-border {
        border: 1px solid $error;
    }

    .error-text {
        color: $error;
        font-style: $italic;
        font-weight: $light;
        font-size: .8em;
        text-align: left;
    }

    .hide-error {
        display: none;
    }
}

.url-card-container {
    background-color: $bg-lt;
    padding-top: .5em;
}
.url-card {
    margin: $gutter-horizontal $gutter-horizontal 0;
    padding-bottom: 1em;
    border-radius: 10px;
    background-color: $bg-wt;
    text-align: left;

    .url-long {
        padding: 1em;
        border-bottom: 1px solid $accent-gy;
        color: $heading-color-dk;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .url-short {
        padding: 1em;
        color: $accent-primary;
    }
    .btn {
        width: 90%;
        margin: 0 auto;
        display: block;
        padding: .5em;
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 1em;
        font-weight: $heavy;
        color: $text-color-lt;
    }

    .btn-primary {
        background-color: $accent-primary;
    }
    .btn-dk {
        background-color: $accent-secondary;
    }
}

.stats {
    padding-top: 4em;
    padding-bottom: 4em;
    border: 1px solid $bg-lt; // prevents margin collapsing
    background: $bg-lt;
}

.stats-header {
    margin-bottom: 3em;
    .title-dk {
        font-size: 1.5em;
    }
}

.stats-details {
    
    .stats-card {
        background: linear-gradient($bg-lt 2.25em, $bg-wt 2.25em);
        border-radius: 5px;
        .icon-container {
            padding: 18px 20px;
            background-color: $bg-dk;
            border-radius: 50%;
            width: fit-content;
            margin: 0 auto;
        }
        .stats-icon {
            background-color: $bg-dk;
            border: none;
        }
        .title-dk {
            font-size: 1.25em;
        }
        .stats-content {
            padding: 1em;
        }
    }

    .vertical-line {
        height: 3em;
        width: .5em;
        background: $accent-primary;
        margin: 0 auto;
    }
}

.boost {
    background-image: url("../assets/images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: $bg-dk;
    display: flex;
    flex-flow: column wrap;
    padding: 4em 0;
    border-bottom: 1px solid $bg-dk;
    .boost-text {
        font-size: 1.33em;
        font-weight: $heavy;
        color: $heading-color-lt;
        margin-bottom: 1em;
    }
    .btn {
        font-size: 1.2em;
    }
}

footer {
    
    background: $bg-footer;
    text-align: center;
    padding: 2.5em 0;
    border-top: 1px solid $bg-dk;
    
    .footer-logo {
        width: fit-content;
        padding-bottom: 2em;
    }
    .footer-section-title {
        color: $text-color-lt;
        font-weight: $heavy;
        margin-bottom: 1em;
    }
    .footer-section-list {
        margin-bottom: 1.5em;
    }
    .footer-section-list-item {
        color: $text-color-gy;
        line-height: 2em;
    }
    .social-icon {
        margin: 0 .5em;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

// -- INTERMEDIATE SIZE STYLES --
@media only screen and (min-width: 377px) {

    .container {
        border-left: 1px solid $bg-lt;
        border-right: 1px solid $bg-lt;
    }

}


// -- DESKTOP STYLES --
@media only screen and (min-width: 850px) {
    
    .hero-img-container {
        width: 45%;
        float: right;
        margin-bottom: 2em;
    }
    
    .hero-description {
        width: 50%;
        text-align: left;
        margin-left: $gutter-horizontal;

        .title-dk {
            font-size: 2.5em;
            margin-bottom: 0;
        }

        .btn-pill {
            width: 40%;
            margin-left: 0;
        }
    }

    .shorten-section {
        background: linear-gradient(to top, $bg-lt 3em, $bg-wt 3em);
        // ^ gray color starts n units from bottom of div
    }

    .shorten-container {
        width: 90%;
        box-sizing: border-box;
        flex-flow: row nowrap;

        .url-input {
            width: 80%;
            margin: 0 1em 0 0;
        }

        .btn-square {
            margin: 0;
            width: 20%;
        }
    }

    .url-card {
        display: flex;
        margin-top: 2%;
        padding: 1em;
        text-align: unset;
        align-items: center;

        .url-long {
            width: 55%;
            border-bottom: none;
            padding: 2px 0;
            text-align: left;
        }

        .url-short {
            width: 25%;
            padding: 2px 0;
            text-align: right;
        }

        .btn {
            width: 15%;
            display: inline-block;
        }

        // TODO fix .error-text positioning
    }

    .stats {
        
        .stats-header .text-content {
            width: 50%;
            margin: 0 auto;
        }

        .stats-details {
            margin: 0 5%;
        }

        .stats-card {

            .icon-container {
                margin-left: 10%;
            }

            .stats-content {
                text-align: left;
                padding: 10%;

                .title-dk {
                    margin: .5em auto;
                }
            }
        }
    }
    
    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .col-#{$i}-lg {
            box-sizing: border-box;
            width: $w - 4%;
            margin: 0 2%; 
            float: left;
            // border: 1px solid blue;
        }
    }

    .container {
        max-width: unset;
    }

}