<div class="container">
  <app-nav></app-nav>

  <div class="hero-img-container">
    <img 
      class="hero-img" 
      src="./assets/images/illustration-working.svg"
      alt="person-working"
    />
  </div>

  <main class="main-content">
    
    <div class="hero-description">
      <h2 class="title-dk">More than just shorter links</h2>
      <p class="text-content">Build your brand’s recognition and get detailed insights 
        on how your links are performing.
      </p>
      <button class="btn btn-pill btn-primary">Get Started</button>
    </div>
    
    <div class="shorten-section clearfix">
      <div class="shorten-container">
        <input 
          type="text" 
          class="url-input" 
          [(ngModel)]="urlToShorten"
          (focus)="clearError()"
          placeholder="Shorten a link here...">
        <p class="error-text hide-error">Please add a link</p>
        <button type="button" class="btn btn-square btn-primary" (click)="submitUrl()" >Shorten It!</button>
      </div>
    </div>

    <div class="url-card-container">
      <div class="url-card" *ngFor="let url of urls">
        <div class="url-long">{{ url.longUrl }}</div>
        <div class="url-short">{{ url.shortUrl }}</div>
        <button class="btn btn-square btn-primary" *ngIf="!url.copied" (click)="copyUrl(url)">Copy</button>
        <button class="btn btn-square btn-dk" *ngIf="url.copied">Copied!</button>
      </div>
    </div>

    <div class="stats clearfix">
      <div class="stats-header">
        <h3 class="title-dk">Advanced Statistics</h3>
        <p class="text-content">
          Track how your links are performing across the web with our 
    advanced statistics dashboard.
        </p>
      </div>
      <div class="stats-details">
        <div class="col-12-sm col-4-lg stats-card">
          <div class="icon-container">
            <img
              class="stats-icon"
              src="./assets/images/icon-brand-recognition.svg"
              alt="graph icon"
            />
          </div>
          <div class="stats-content">
            <h4 class="title-dk">Brand Recognition</h4>
            <p class="text-content">
              Boost your brand recognition with each click. Generic links don’t 
              mean a thing. Branded links help instil confidence in your content.
            </p>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="col-12-sm col-4-lg stats-card">
          <div class="icon-container">
            <img
              class="stats-icon"
              src="./assets/images/icon-detailed-records.svg"
              alt="records icon"
            />
          </div>
          <div class="stats-content">
            <h4 class="title-dk">Detailed Records</h4>
            <p class="text-content">
              Gain insights into who is clicking your links. Knowing when and where 
              people engage with your content helps inform better decisions.
            </p>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="col-12-sm col-4-lg stats-card">
          <div class="icon-container">
            <img
              class="stats-icon"
              src="./assets/images/icon-fully-customizable.svg"
              alt="art icon"
            />
          </div>
          <div class="stats-content">
            <h4 class="title-dk">Fully Customizable</h4>
            <p class="text-content">
              Improve brand awareness and content discoverability through customizable 
              links, supercharging audience engagement.
            </p>
          </div>
        </div>
        <div class="horizontal-line"></div>
      </div>
    </div>

    <div class="boost">
      <h2 class="boost-text">Boost your links today</h2>
      <button class="btn btn-pill btn-primary">Get Started</button>
    </div>

  </main>

  <footer>
    <div class="col-12-sm col-3-lg">
      <div class="footer-logo-container">
        <img
          class="logo-img"
          src="./assets/images/logo-wt.svg"
          alt="Shortly"
        />
      </div>
    </div>
    <div class="col-12-sm col-2-lg footer-section">
      <h4 class="footer-section-title">Features</h4>
      <ul class="footer-section-list">
        <li class="footer-section-list-item">Link Shortening</li>
        <li class="footer-section-list-item">Branded Links</li>
        <li class="footer-section-list-item">Analytics</li>
      </ul>
    </div>
    <div class="col-12-sm col-2-lg footer-section">
      <h4 class="footer-section-title">Resources</h4>
      <ul class="footer-section-list">
        <li class="footer-section-list-item">Blog</li>
        <li class="footer-section-list-item">Developers</li>
        <li class="footer-section-list-item">Support</li>
      </ul>
    </div>
    <div class="col-12-sm col-2-lg footer-section">
      <h4 class="footer-section-title">Company</h4>
      <ul class="footer-section-list">
        <li class="footer-section-list-item">About</li>
        <li class="footer-section-list-item">Our Team</li>
        <li class="footer-section-list-item">Careers</li>
        <li class="footer-section-list-item">Contact</li>
      </ul>
    </div>
    <div class="col-12-sm col-3-lg">
      <div class="social-icons">
        <img
          class="social-icon"
          src="./assets/images/icon-facebook.svg"
          alt="facebook link"
        />
        <img
          class="social-icon"
          src="./assets/images/icon-twitter.svg"
          alt="twitter link"
        />
        <img
          class="social-icon"
          src="./assets/images/icon-pinterest.svg"
          alt="pinterest link"
        />
        <img
          class="social-icon"
          src="./assets/images/icon-instagram.svg"
          alt="instagram link"
        />
      </div>
      <div class="footer-note">
        <p>
          Designs provided by 
          <a href="https://www.frontendmentor.io/challenges/url-shortening-api-landing-page-2ce3ob-G" target="_blank">
            Frontend Mentor</a>.
          </p>
        <p>
          Development by 
          <a href="https://github.com/emily-v/url-shortening-landing-page" target="_blank">
            Emily Vong</a> in 2020.
          </p>
      </div>
    </div>
  </footer>
</div>


<!-- <router-outlet></router-outlet> -->