/* You can add global styles to this file, and also import other style files */

@import "stylings/reset";
@import "stylings/variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&display=swap');

html {
    font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: $normal;
}

// body {
//     padding: $gutter-vertical $gutter-horizontal;
// }



